<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% if(msg !=''){ %>
      <p style="color:#00B7FF; font-weight: 600;"><%= msg %></p>
    <% } %>

    <h4>Upload your csv file</4>    <a href="/show-data">view data</a> 

    <form name="scv-upload" action="upload-csv" method="POST" enctype="multipart/form-data" >
      <input type="file" name="csvfile" > <br><br>
      <input type="submit" name="submit" ></input>
    </form>


  </body>
</html>
